
:root{
    --primary: rgb(1, 1, 1);
    --onyx: #171614;
    --carbon-black:#1D1E20;
    --space-indigo: #2B344F;
    --yale-blue: #064660;
    --white: #fefcfdff;
    --window: rgba(1,1,1, 0.95);
}

*{
    margin: 0;
    font-family: monospace;
    color: var(--white);
}
body{
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    width: 100vw;
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px .6rem var(--white);
    margin-bottom: 1rem;
    background-color: var(--window);
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.header{
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 5px;
}

.loginDiv{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--onyx);
    box-shadow: 0px 0px .6rem var(--white);
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: .5rem;
}

.welcomeAndTimerDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

.welcomeHeaderDiv{
    display: inline-flex;
    flex-direction: column;
    width:min-content;
    align-self: center;
    text-align: center;
    padding: 2rem;
    border-radius: 6px;
    background-color: var(--window);
    box-shadow: 0px 0px .6rem var(--white);
}

.welcomeHeader{
    text-wrap: nowrap;
}

.motd{
    margin-top: 3rem;
}

.timerDiv{
    display:flex;
    width: 42rem;
    height: 42rem;
    align-self: center;
    margin-top: 5rem;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--window);
    box-shadow: 0px 0px .6rem var(--white);
}

.timer{
display: flex;
flex-direction: column;
position: relative;
top: 5.5rem;
height: min-content;
width: auto;
height: 32rem;
justify-content: space-evenly;
align-content: center;
}

.timerClock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4rem;
}

.controlBar{
    display: flex-inline;
    align-self: center;
    position: relative;
    top: 2rem;
    overflow: visible;
    flex-wrap: nowrap;
}

.line1div{
    display: inline-flex;
}
.line1{
    width: 17rem;
    color:black;
    border: 2px solid black;
}

#countdown{
    display: inline-flex;
    font-weight: 600;
    background-color: var(--primary);
    border: 2px solid black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 4.3rem;
    text-align: center;
    padding-top:.2rem;
    padding-left: .7rem;
    padding-right: .5rem;
    
}
#countdown:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--white);
}

.line2div{
    display: inline-flex;
}

.line2{
    width: 17rem;
    color:black;
    border: 2px solid black;
}

.workingOnDiv{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}

.taskDisplayName{
    margin-top: 1rem;
}

.taskDueDate{
    margin: 1rem 0;
}

.tasksDiv{
    display: flex;
    width: min-content;
    align-self: center;
    box-shadow: 0px 0px .6rem var(--white);
    padding: 2rem;
    width: 50rem;
    height: 61rem;
    background-color: var(--window);
    backdrop-filter: blur(100px);
    flex-direction: column;
    margin: .75rem;
    border-radius: 4rem;
}

.taskHeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px .6rem var(--white);
    border-radius: 3rem;
    background-color: var(--onyx);
}
.taskHeader{
    width: min-content;
    display: flex;
    margin-left: 4rem;
    padding: 0.5rem;
    border-radius: 6px;
    text-wrap-mode: nowrap;
    color: var(--primary);
}

.settingsDiv{
    display: flex;
    padding: .5rem;
    justify-self:flex-end;
}

.sortButtonDiv{
    border: 2px solid black;
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    
}
.sortButtonDiv:hover{
    background-color: var(--primary);
    cursor: pointer;
}

.alertButtonDiv{
    border: 2px solid black;
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
}
.alertButtonDiv:hover{
    background-color: var(--primary);
    cursor: pointer;
}

.taskContainerDiv{
    
}

.taskList{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 1rem;
    padding: 0;
    list-style: none;
}

.taskItem{
    display: flex;
    box-shadow: 0px 0px .6rem var(--white);
    border-radius: 6px;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--onyx);
    align-self: flex-start;
    height: 2rem;
    width: 95%;
}

.taskItem:hover{
    cursor: pointer;
    box-shadow: 2px 2px 1rem var(--white);
}   

.footerDiv{
    
}