
:root{
    --primary: rgb(1, 1, 1);
    --onyx: #171614;
    --carbon-black:#1D1E20;
    --space-indigo: #2B344F;
    --yale-blue: #064660;
    --white: #fefcfdff;
    --window: rgba(1,1,1, 0.95);
    --high-priority: #ff4c4c;
    --normal-priority: #ffb84c;
    --low-priority: #4cff4c;
}

*{
    margin: 0;
    font-family: monospace;
    color: var(--white);
}
body{
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    width: 100vw;
    height: 100vh;
}

.navBar{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px .6rem var(--white);
    margin-bottom: 1rem;
    background-color: var(--window);
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.header{
    border-radius: 6px;
    padding: 1rem;
}

.loginDiv{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--onyx);
    box-shadow: 0px 0px .6rem var(--white);
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-right: 1rem;
    border: 1px solid var(--white);
}

.welcomeAndTimerDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

.welcomeHeaderDiv{
    display: inline-flex;
    flex-direction: column;
    width:min-content;
    align-self: center;
    text-align: center;
    padding: 2rem;
    border-radius: 6px;
    background-color: var(--window);
    box-shadow: 0px 0px .6rem var(--white);
    border: 1px solid var(--white);
}

.welcomeHeader{
    text-wrap: nowrap;
}

.motd{
    margin-top: 3rem;
}

.timerDiv{
    display:flex;
    width: 42rem;
    height: 42rem;
    align-self: center;
    margin-top: 5rem;
    border-radius: 50%;
    justify-content: center;
    background-color: var(--window);
    box-shadow: 0px 0px .6rem var(--white);
    border: 1px solid var(--white);
}

.timer{
display: flex;
flex-direction: column;
position: relative;
top: 5.5rem;
height: min-content;
width: auto;
height: 32rem;
justify-content: space-evenly;
align-content: center;
}

.timerClock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4rem;
}

.controlBar{
    display: flex-inline;
    align-self: center;
    position: relative;
    top: 2rem;
    overflow: visible;
    flex-wrap: nowrap;
}

.line1div{
    display: inline-flex;
}
.line1{
    width: 17rem;
    color:black;
    border: 1px solid var(--white);
}

#countdown{
    display: inline-flex;
    font-weight: 600;
    background-color: var(--primary);
    border: 2px solid var(--white);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 4.3rem;
    text-align: center;
    padding-top:.2rem;
    padding-left: .7rem;
    padding-right: .5rem;
    
}
#countdown:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--white);
}

.line2div{
    display: inline-flex;
}

.line2{
    width: 17rem;
    color:black;
    border: 1px solid var(--white);
}

.workingOnDiv{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}

.taskDisplayName{
    margin-top: 1rem;
}

.taskDueDate{
    margin: 1rem 0;
}

.tasksDiv{
    display: flex;
    width: min-content;
    align-self: center;
    box-shadow: 0px 0px .6rem var(--white);
    padding: 2rem;
    width: 50rem;
    height: 61rem;
    background-color: var(--window);
    backdrop-filter: blur(100px);
    flex-direction: column;
    margin: .75rem;
    border-radius: 4rem;
    border: 1px solid var(--white);
}

.taskHeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px .6rem var(--white);
    border-radius: 3rem;
    background-color: var(--onyx);
    border: 1px solid var(--white);
}
.taskHeader{
    width: min-content;
    display: flex;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    text-wrap-mode: nowrap;
    color: var(--primary);
}

#addTaskButton{
    display: flex;
    width: 4rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: var(--onyx);
    box-shadow: 0px 0px .6rem var(--white);
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: 2rem;
    border: 1px solid var(--white);
    font-size: 2rem;
}
#addTaskButton:hover{
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--white);
}

.settingsDiv{
    display: flex;
    padding: .5rem;
    justify-self:flex-end;
}

.sortButtonDiv{
    border: 2px solid black;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    border: 1px solid var(--white);
}
.sortButtonDiv:hover{
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--white);
}

.filterButtonDiv{
    border: 2px solid black;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: .5rem;
    border: 1px solid var(--white);
}
.filterButtonDiv:hover{
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--white);
}

.taskContainerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskList{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 1rem;
    padding: 0;
    list-style: none;
    overflow: scroll hidden hidden;
}

.taskItem{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px .6rem var(--white);
    border-radius: 6px;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: var(--onyx);
    align-self: flex-start;
    height: 4rem;
    width: 45rem;
    border: 1px solid var(--white);
}

.taskItem:hover{
    cursor: pointer;
    box-shadow: 2px 2px 1rem var(--white);
}   

.taskItemEffortDiv{
    display: flex;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: var(--space-indigo);
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: .25rem;
    margin-right: .25rem;
    border: 1px solid var(--white);
}

.taskItemEffort{
    display: flex;
    font-size: 0.8rem;
    align-self: center;
}

.taskItemName{
    display: flex;
    font-size: 1.2rem;
    margin-left: 1rem;
    width: max-content;
    align-self: flex-start;
    position: relative;
    top: 0.65rem;
}

.taskItemDetailsDiv{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
}

.taskItemDueDate{
    display: flex;
    font-size: 0.8rem;
    align-self: flex-end;
    margin-left: 25rem;
}

.taskItemPriorityDiv{
    display: flex;
    width: 3.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--high-priority);
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: auto;
    margin-right: .25rem;
    border: 1px solid var(--white);
}

.taskItemPriority{
    display: flex;
    font-size: 1rem;
    font-weight: 600;
}

.taskAddModalDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskAddModal{
    display: flex;
    flex-direction: row;
    width: 50rem;
    height: 50rem;
    background-color: var(--window);
    box-shadow: 0px 0px 1rem var(--white);
    border-radius: 2rem;
    border: 1px solid var(--white);
}

.taskAddDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
}

.taskAddLabel{
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
}

.taskAddInput{
    width: 20rem;
    height: 2.5rem;
    font-size: 1.25rem;
    text-align: start;
    color: var(--primary);
    position: relative;
    left: 1.6rem;
}

.taskAddNameDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-bottom: 2rem;
}

.taskAddDescLabel{
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
    align-self: flex-start;
}

.taskAddDescInput{
        width: 35rem;
        height: 20rem;
        font-size: 1.25rem;
        text-align: start;
        color: var(--primary);
        position: relative;
        right: 3.5rem;
}

.taskAddDescDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin-bottom: 1rem;
}

.taskAddEffortLabel{
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
}

.taskAddEffortInput{
    width: 4.25rem;
    height: 1.5rem;
    font-size: 1.25rem;
    text-align: center;
    color: var(--primary);
}   

.taskAddEffortSpan{
    font-size: 1.25rem;
    color: var(--white);
    margin-left: 0.5rem;
}

.taskAddEffortDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: start;
    align-items: center;
    margin-bottom: 1rem;
}

.taskAddSubmit{
    width: 8rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid var(--white);
    background-color: var(--onyx);
    color: var(--white);
    font-size: 1.25rem;
    margin-top: 2rem;
}
.taskAddSubmit:hover{
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--white);
}

.taskAddCloseButton{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--onyx);
    color: var(--white);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    align-items: center;
    align-self: flex-end;
    border: 1px solid var(--white);
    position: relative;
    bottom: 5.5rem;
    right: 2rem;
}

.taskAddCloseButton:hover{
    background-color: var(--primary);
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--white);
}

.footerDiv{
    
}